[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demucs = "~=4.0.0"
ffmpeg-normalize = "~=1.26.4"
pydub = "~=0.25.1"
pyloudnorm = "~=0.1.1"
soundfile = "~=0.12.1"
stable-ts = "~=2.1.0"
torch = "~=1.13.1"
torchaudio = "~=0.13.1"
torchtext = "~=0.14.1"
torchvision = "~=0.14.1"
typer = {extras = ["all"], version = "~=0.7.0"}

[dev-packages]

[requires]
python_version = "3.10"
