[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
efficient-whisper = {ref = "c471b45e4971b04517eba2974fc91578021dfcef", git = "https://github.com/tsukumijima/efficient_whisper.git"}
demucs = "~=4.0.0"
inaspeechsegmenter = "~=0.7.6"
pydub = "~=0.25.1"
stable-ts = {ref = "0b423391e115abcb8b8fdbb581b75f5b1fc746d3", git = "https://github.com/jianfch/stable-ts.git"}
torch = "~=1.13.1"
torchaudio = "~=0.13.1"
torchtext = "~=0.14.1"
torchvision = "~=0.14.1"
typer = {extras = ["all"], version = "~=0.7.0"}

[dev-packages]

[requires]
python_version = "3.10"
